<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>AboutMyProperty.ca</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jmespath/0.15.0/jmespath.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/js/amp.js"></script>
    <link rel="stylesheet" href="/css/amp.css">
    <link rel="stylesheet" href="/css/jq.css">
  </head>
  <body>
    <table>
    <tr>
      <td>
        <td>
          {% if amp_curl is not defined %}
          <table id="tblampfind">
            <tr>
              <td>
                <form class="form" method="POST" action="#">
                  <img src="/img/amp.png" height="42" width="100" alt="AMP.ca">
                  <label for="ampdata"></label>
                <input id='ampdata' maxlength="15" placeholder="Enter 15-digit Roll Number...">
              </form>
              </td>
            </tr>
          </table>
          {% endif %}
          <table id="tblampshow" style="display:none;">
             <tr>
               <td>
                  <form id="frmampshow" method="POST" action="/am/p">
                        <input id="MU" name="MUNICIPALITY" type="text" maxlength="28" placeholder="Municipality" />
                        <br><br>
                        {# <input id="AD" name="ADDRESS" type="text" maxlength="28" placeholder="Address" />
                        <br><br> #}
                        <input id="RN" name="ROLL_NUMBER" type="text" maxlength="15" placeholder="Roll Number" />
                        <br><br>
                        <input id="amp_lookup" type="submit" value="Lookup" class="submit"/>
                    </form>
                    <br>
                </td>
             </tr>
          </table>
          <form id="frmampreset" style="display:none;">
          <input id="amp_reset" type="button" value="Reset Form" class="submit">
          </form>
        </td>
    </tr>
</table>
<table id="tblampcurlresult">
  <tr>
    <td>
      {% if amp_curl is defined %}
      <form id="frmampreset2">
        <input id="amp_reset2" type="button" value="AboutMyProperty"  class="submit">
      </form>
      <br>
      {{ include('v_amp.html') }}
      <pre id="amp_curl_display">{{ amp_curl|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
      <script>
      var d1 = {{ amp_curl|json_encode|raw }};
      $.getScript("/js/extract.js");
      </script>
      {% endif %}
      {% set amp_curl = null %}
    </td>
  </tr>
</table>
</body>
</html>
