<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>AboutMyProperty.ca</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jmespath/0.15.0/jmespath.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/js/amp.js"></script>
    <link rel="stylesheet" href="/css/amp.css">
    <link rel="stylesheet" href="/css/jq.css">
  </head>
<body>
<p>AboutMyProperty.ca</p>
<form action='' method="post">
  <input type="text" name="rollNum" maxlength="15" value="190410123000100"><br>
  <p><input type="submit" value="Search">
  {# <input type="reset" value="Reset"> #}
  </p>
</form> 
</body>
</html>



