<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>MPAC Disclosure</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jmespath/0.15.0/jmespath.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/js/ptl.js"></script>
    <link rel="stylesheet" href="/css/ptl.css">
    <link rel="stylesheet" href="/css/jq.css">
  </head>
  <body>
    <table>
    <tr>
      <td>
        <td>
          {% if md_curl is not defined %}
          <table id="tblmdfind">
            <tr>
              <td>
                <form class="form" method="POST" action="#">
                  <img src="/img/mpac.png" height="42" width="84" alt="MPAC Disclosure">
                  <label for="mddata">Disclosure</label>
                <input id='mddata' placeholder="Find Property....">
              </form>
              </td>
            </tr>
          </table>
          {% endif %}
          <table id="tblmdshow" style="display:none;">
             <tr>
               <td>
                  <form id="frmmdshow" method="POST" action="/mpac/disclosure">
                        <input id="RN" name="ROLL_NUMBER" type="text" maxlength="19" placeholder="Roll Number" />
                        <br><br>
                        <input id="md_lookup" type="submit" value="Lookup" class="submit"/>
                    </form>
                    <br>
                </td>
             </tr>
          </table>
          <form id="frmmdreset" style="display:none;">
          <input id="md_reset" type="button" value="Reset Form" class="submit">
          </form>
        </td>
    </tr>
</table>
<table id="tblmdcurlresult">
  <tr>
    <td>
      {% if md_curl is defined %}
      <form id="frmmdreset2">
        <input id="md_reset2" type="button" onmouseover='' style='cursor: pointer' value="MPAC Disclosure"  class="submit"><br><br>
      </form>
      <br>
      <script>
      var arr = [];
      var d2 = {{ md_curl|json_encode|raw }};            
      var arrayLength = d2.length;
      var search = jmespath.search;
      for (var i = 0; i < arrayLength; i++) {
          var DiscdisplayName = search(d2[i], "displayName").replace('Level','L').replace('"',' ');
          var DiscUrl = search(d2[i], "url");
          $("#frmmdreset2").append("<input type='button' class='overflow' onmouseover='' style='cursor: pointer' onclick=\"window.open('" 
          + JSON.stringify(DiscUrl).replace(/"/g,"") + "')\" id='mpacdisc" + i + "' value='" 
          + JSON.stringify(DiscdisplayName).replace(/"/g,"").replace(/\d{15}/g,"") + "' /> ").append("<br><br>");  
      };
      </script>
      {# <pre id="md_curl_display">{{ md_curl|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre> #}
      {% endif %}
      {% set md_curl = null %}
    </td>
  </tr>
</table>
</body>
</html>
