<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Property Tax Lookup</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jmespath/0.15.0/jmespath.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/js/ptl.js"></script>
    <link rel="stylesheet" href="/css/ptl.css">
    <link rel="stylesheet" href="/css/jq.css">
  </head>
  <body>
    <table>
    <tr>
      <td>
        <td>
          {% if curl_result is not defined %}
          <table id="Find">
            <tr>
              <td>
                <form class="form" method="POST" action="#">
                  <img src="/img/ptl.png" height="42" width="42" alt="Property Tax Lookup">
                  <label for="allData">Property Tax Lookup</label>
                <input id='allData' placeholder="Find a property....">
              </form>
              </td>
            </tr>
          </table>
          {% endif %}
          <table id="Lookup" style="display:none;">
             <tr>
               <td>
                  <form id="form" method="POST" action="/toronto/tax">
                        <input id="RN" name="ROLL_NUMBER" type="text" maxlength="28" placeholder="Roll Number" />
                        <br><br>
                        <input id="LN" name="LAST_NAME" type="text" maxlength="28" placeholder="Owner Name" />
                        <br><br>
                        <input id="PC" name="POSTAL_CODE" type="text" maxlength="7" placeholder="Postal Code" />
                        <br><br>
                        <input id="CN" name="CUSTOMER_NUMBER" type="text" maxlength="9" placeholder="Customer Number" />
                        <br><br>
                        <input id="lookup" type="submit" value="Lookup" class="submit"/>
                    </form>
                    <br>
                </td>
             </tr>
          </table>
          <form id="frmReset" style="display:none;">
          <input id="reset" type="button" value="Reset Form" class="submit">
          </form>
        </td>
    </tr>
</table>
<table id="curlresult">
  <tr>
    <td>
      {% if curl_result is defined %}
      <form id="frmReset2">
        <input id="reset2" type="button" value="Property Tax Lookup"  class="submit">
      </form>
      <br>
      {{ include('v.html') }}
      {# <pre id="curl_display">{{ curl_result|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre> #}
      <script>
      var d1 = {{ curl_result|json_encode|raw }};
      $.getScript("/js/extract.js");
      </script>
      {% endif %}
      {% set curl_result = null %}
    </td>
  </tr>
</table>
</body>
</html>
